extends ../shared/template

block content
  h2.msg-to New message to: #{toUser.appName}
  .new-msg
    form(method='POST', action='/messages/new/#{toId}')
      textarea.new-message(name='message', placeholder='Type message here')
      .clear
      button Send
