extends ../shared/template

block content
  #artist(data-id='#{artistId}')
  #genres
    h3(style='font-weight: 300') Genres:
  h3(style='font-weight: 300') Top Songs
  #player

block scripts
  script(src='/js/es6/compiled/artist.js')
  script(src='/js/es6/compiled/songstream.js')
