@main-color: #FBA820;
@main-color-dark: #d2831a;
@secondary-color: #4B98C6;
@secondary-color-dark: #3e83a6;

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

* {
  box-sizing:border-box;
}

a {
  color: @main-color;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background: #555;
  color: #eee;
}

.clear {
  width: 100%;
  clear:both;
}

.hidden {
  display:none;
}

input, button, textarea {
  color:#333;
}

header {
  width: 100%;
  height: 60px;
  position: fixed;
  z-index:2;
  background-color: @main-color;
  color: #fff;
  top:0;

  #logo {
    float:left;
    padding: 12px 0 0 70px;
    width: 300px;
    margin-right: 10px;

    img {
      width: 160px;
      height: auto;
    }
  }

  #main-search-container {
    padding-top: 14px;
    width: 35%;
    float:left;

    input {
      padding: 8px;
      width: 70%;
      border:none;
      margin:0;
      height:30px;
      float:left;
    }

    button {
      height: 30px;
      width: 35px;
      float:left;
      font-size: 16px;
      border:none;
      background: @secondary-color;
      color:#fff;
      margin:0;
      padding:0;
    }

    button:hover {
      background: @secondary-color-dark;
    }

    a#discover {
      color: #fff;
      font-weight: 600;
      font-size: 14px;
      text-decoration:none;
      margin:5px 0 0 15px;
      display:inline-block;
    }
  }

  #user {
    float:right;
    padding: 10px 25px 0 0;

    #user-pic {
      width: 40px;
      height: 40px;
      background-position:center;
      background-size:cover;
      float:right;
    }

    a {
      font-weight: 600;
      text-decoration:none;
      font-size: 14px;
      color:#fff;
      margin: 10px 20px 0 0;
      display:inline-block;

    }
  }
}

#main-wrapper {
  clear:both;
  width: 100%;
//  padding-top: 60px;
}

#main-nav-container {
  width: 275px;
  position:fixed;
  z-index:1;
  left:0;
  top: 60px;
  float:left;
  background-color: #333;
  height: 100%;

  #main-nav {

    ul {
      list-style-type:none;
      padding:20px 0 0 0;
      margin:0;

      li {
        padding: 10px 0 10px 70px;
        width: 100%;

        a {
          text-decoration:none;
          color: #ddd;
          font-size: 20px;
        }
      }

      li:hover {
        background: #2b2b2b;
      }
    }

    p.suggestion-count, p.message-count {
      display:inline-block;
      background: @main-color;
      color:#fff;
      padding: 3px 8px;
      margin: 0 0 0 10px;

    }
  }
}

#main-content-wrapper {
  float:left;
  padding-left:315px;
  padding-top: 60px;
  padding-right: 100px;
}

.artist-result {
  display:inline-block;
  padding: 10px;
  border:1px solid #ccc;

  a.add-favorite-artist {
    display:inline-block;
    padding: 5px;
    background: @main-color;
    text-decoration:none;
    color:#fff;
  }
}

.favorited-artist {
  background: @secondary-color;
}

#player {

  iframe, div {
    display:inline-block;
    padding: 10px;
    border: 1px solid #ccc;
  }
}

// .song-result {
//   display:inline-block;
//   padding: 10px;
//   border:1px solid #ccc;
// }


.artist-pic {
  width: 150px;
  height: 150px;
  background-size:cover;
  background-position:center;
}

.album-pic {
  width: 100px;
  height: 100px;
  background-size:cover;
  background-position:center;
}

p.song-name {
  font-weight: 600;
}

p.song-artist {
  font-weight: 400;
  font-size: 12px;
}

.discover-profile-pic, .friend-pic, .user-pic, .suggestion-pic {
  width: 100px;
  height: 100px;
  background-size:cover;
  background-position:center;
}

.other-profile-pic {
  width: 200px;
  height: 200px;
  background-size:cover;
  background-position:center;
}

.friend-pic {
  width: 50px;
  height: 50px;
  background-size:cover;
  background-position:center;
}

#suggest-modal {
  position: fixed;
	top: 50%;
	left: 50%;
	width: 90%;
	max-width: 700px;
	min-width: 320px;
	height: auto;
	z-index: 2000;
  -webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
  background-color: @main-color;

  a {
    color:#333;
  }

  input[type='checkbox'], .album-pic, .artist-pic, .friend-pic{
    float:left;
  }
}

#overlay {
  background: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  position:fixed;
  z-index: 1500;

}

#tall {
  height: 1000px;
  width: 400px;
  background: #fff;
}
