extends ../shared/template

block content

  #posts-wrapper
    #new-post
      input#new-post-body(type='text', placeholder='Share some stuff with the world')
      #new-post-submit-wrapper
        //p.inline.tag-label TAGS:
        a#new-post-submit(href='#') POST
        input#new-post-tags(type='text', placeholder='tag, things, here')
      .clear
      
    #posts

  #chat-wrapper
    p#chat-header Chat with the community.
    input#message(type='text')
    button#send
      i.fa.fa-wechat
    #chat
    ul#users


block scripts
  script(src='/js/es6/compiled/dashboard.js')
