extends ../shared/template

block content
  p.searchusers Search for users by Name, Favorite genres, or Favorite artists.

  input#search-users-input(type='text', placeholder='Search for Fusion users')
  button#search-users Search

  .clear
  br
  #results-users
    include results-users

block scripts
  script(src='/js/es6/compiled/search-users.js')
