each artist in user.favoriteArtists
  .favorite-artist(data-id='#{artist.mbid}')
    .favorite-artist-pic(style='background-image:url(#{artist.photo})')
    a.favorite-artist-name(href='/artists/#{artist.mbid}') #{artist.name}
    a.remove-artist(href='#') Remove from Artists
  .clear
