extends ../shared/template

block content
  each friend in friends
    .friend-pic(style='background-image: url(#{friend.primaryPhoto})')
    h2
      a(href='/users/profile/#{friend._id}') #{friend.appName}

block scripts
  script(src='/js/es6/compiled/friends.js')
  script(src='/js/es6/compiled/songstream.js')
