doctype html
html
  head
    meta(charset='utf-8')
    title= title
    link(href='/less/normalize.css', rel='stylesheet')
    link(href='/less/app.css', rel='stylesheet')
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css', rel='stylesheet')
  body
    header
      #logo
        a(href='/dashboard')
          img(src='/img/assets/logo.svg')
      #main-search-container
        form#main-search-form(action='/search', method='post')
          input#main-search(type='text', name='query', placeholder='Search for people, artists, and songs')
          button#main-search-btn
            i.fa.fa-search
        a#discover(href='/users/all') Discover
      if(user)
        #user(data-id='#{user._id}')
          if(user)
            a(href='/profile') #{user.appName}
            #user-pic(style='background-image: url(#{user.primaryPhoto})')
      .clear
    .clear

    #main-wrapper
      #main-nav-container
        #main-nav
          ul
            li#suggestions-nav
              a(href='/suggestions/all') Suggestions
            li#messages-nav
              a(href='/messages/inbox') Messages
            li
              a(href='/users/dash') Dashboard
            li
              a(href='/users/friends') My Friends
            li
              a(href='#') Chat
            li
              a(href='/profile') Account
            li
              a(href='/logout') Logout

      #main-content-wrapper
        block content

    script(src='/js/vendor/jquery-2.1.1.js')
    script(src='/js/vendor/lodash-2.4.1.js')
    script(src='/js/vendor/moment-2.6.0.js')
    script(src='/js/vendor/traceur.js')
    script(src='/js/vendor/tomahawk.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/es5/main.js')
    script(src='/js/es6/compiled/main.js')
    script(src='/js/es6/compiled/sockets.js')
    script(src='/js/es6/compiled/suggestions.js')

    block scripts
