.post-wrapper
  .post-details
    .poster-pic(style='background-image:url(#{post.authorPhoto})')
    p.inline.poster #{post.authorName}

  .post-body
    p= post.body

  .post-tags
    each tag in post.tags
      a(href='#')= tag
  .clear
